#banner{
    .banner_img{
        padding: 80px 0;
        .banner_text{
            h4{
                font-family: 'Raleway', sans-serif;
                text-transform: uppercase;
                font-weight: 400;
                font-size: 25px;
            }
            h6{
                font-family: 'Raleway', sans-serif;
                padding-top: 7px;
                i{
                    font-size: 10px;
                }
                span{
                    color: red;
                    font-family: 'Raleway', sans-serif;
                }
            }
        }
    }
}