#counterpart{
    .counter_img{
        padding: 33px 0;
        .count_item{
              h3{
                    font-family: 'Raleway', sans-serif;
                }
                p{
                    font-family: 'Raleway', sans-serif;
                    font-size: 14px;
                    padding-top: 5px;
               }
           }
    }  
}